

.abc{
    padding: 15px 30px;
    border-radius: 10px ;
    background-color: rgba(61, 77, 203, 0.129);

}

.input-tag{
    border: none;
    font-weight: bold;
    width: fit-content;
    resize: none;
    outline: none;
    background-color: transparent;
    color: rgb(61, 77, 203);
}